<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Página de Especialidade</title>
    </head>
    <body>
        <h1>Todas as Especialidades</h1>

        {% for especialidade in especialidades %}
        <li><a href="{% url 'especialidade_detalhes' codigo_especialidade=especialidade.codigo %}">{{especialidade.nome}}</a></li>   
        {% endfor %}

        <a href="{% url 'especialidade_cadastrar' %}">Cadastrar</a>
        <span>|</span>
        <a href="{% url 'medicos' %}">Voltar</a>
    </body>
</html>
