<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Médicos</title>
</head>
<body>
    <h1>Todos os Médicos</h1>

    {# A chave do dicionário (contexto) é utilizado com o variável do motor #}

    {% for medico in medicos %}
    <li><a href="{% url 'medico_detalhes' id_medico=medico.id %}">{{medico.nome}}</a></li>        
    {% endfor %}
    <a href="{% url 'medico_cadastrar' %}">Cadastrar</a>
        <span>|</span>
    <a href="{% url 'index' %}">Voltar</a>
    
</body>
</html>