<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Médico</title>
</head>
<body>
    <!-- O comando csrf_token é responsável por aplicar uma camada de segurança aos formulários
    O nome desta técnica é Cross Site Request Forgery Protection, que garante que somente as requisições originadas pelo servidor sejam aceitas como um retorno de formulário -->
    
    <form method="post">
        {% csrf_token %}
        
        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome">
        <br>

        <button type="submit">Salvar</button>
    </form>
</body>
</html>