<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes Procedimento</title>
</head>

<body>
    <h2>Detalhes do Procedimento</h2>

    <table>
        <tr>
            <th>Código</th>
            <td>{{procedimento.codigo}}</td>
        </tr>
        <tr>
            <th>Nome</th>
            <td>{{procedimento.nome}}</td>
        </tr>
        <tr>
            <th>Descrição</th>
            <td>{{procedimento.descricao}}</td>
        </tr>
    </table>

    <a href="{% url 'procedimentos' %}">voltar</a>
</body>

</html>